<nav class="navbar navbar-expand-md navbar-dark bg-danger">
    <a href="/" class="navbar-brand"><img src="img/svg/octoface.svg"> | LW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar6">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Project</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="/img/svg/bar-chart.svg"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com"><img src="img/svg/bell.svg"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="img/svg/cog.svg"></a>
            </li>
        </ul>
    </div>
</nav>