<div class="container">

    <div class="row">

        <div class="col">
            <h3>Filter</h3>
            <form>
                <label for="noticeFilterOrg">Organization</label>
                <select class="form-control form-control-sm" id="noticeFilterOrg">
                    <option>All</option>
                </select>

                <label for="noticeFilterRepo">Repository</label>
                <select class="form-control form-control-sm" id="noticeFilterRepo">
                    <option>All</option>
                </select>

                <label for="noticeFilterUser">User</label>
                <select class="form-control form-control-sm" id="noticeFilterUser">
                    <option>All</option>
                </select>

                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>

        <div class="col">

            Monday
            <div class="notify">
                <div class="header-wrapper">
                    <span class="title">Facebook</span>
                    <span class="notifications">Notifications</span>
                </div>
                <div class="content-wrapper">
                    <div class="floatleft"><img src="img/svg/person.svg"></div>
                    <div class="floatleft pdtop">
                        Lastest: Future Start of Cricket ?<BR>
                        <a href="#">94</a> Likes <strong>4</strong> Comments
                    </div>
                </div>
            </div>
            <div class="notify">
                <div class="header-wrapper">
                    <span class="title">Facebook</span>
                    <span class="notifications">Notifications</span>
                </div>
                <div class="content-wrapper">
                    <div class="floatleft"><i class="fa fa-user"></i></div>
                    <div class="floatleft pdtop">
                        Lastest: Future Start of Cricket ?<BR>
                        <strong>94</strong> Likes <strong>4</strong> Comments
                    </div>
                </div>
            </div>
            <div class="notify">
                <div class="header-wrapper">
                    <span class="title">Facebook</span>
                    <span class="notifications">Notifications</span>
                </div>
                <div class="content-wrapper">
                    <div class="floatleft"><i class="fa fa-user"></i></div>
                    <div class="floatleft pdtop">
                        Lastest: Future Start of Cricket ?<BR>
                        <strong>94</strong> Likes <strong>4</strong> Comments
                    </div>
                </div>
            </div>
            <div class="notify">
                <div class="header-wrapper">
                    <span class="title">Facebook</span>
                    <span class="notifications">Notifications</span>
                </div>
                <div class="content-wrapper">
                    <div class="floatleft"><i class="fa fa-user"></i></div>
                    <div class="floatleft pdtop">
                        Lastest: Future Start of Cricket ?<BR>
                        <strong>94</strong> Likes <strong>4</strong> Comments
                    </div>
                </div>
            </div>
            <div class="notify">
                <div class="header-wrapper">
                    <span class="title">Facebook</span>
                    <span class="notifications">Notifications</span>
                </div>
                <div class="content-wrapper">
                    <div class="floatleft"><i class="fa fa-user"></i></div>
                    <div class="floatleft pdtop">
                        Lastest: Future Start of Cricket ?<BR>
                        <strong>94</strong> Likes <strong>4</strong> Comments
                    </div>
                </div>
            </div>
        </div>
        <div class="col">Tuesday
            <div class="notify">
                <div class="header-wrapper">
                    <span class="title">Facebook</span>
                    <span class="notifications">Notifications</span>
                </div>
                <div class="content-wrapper">
                    <div class="floatleft"><i class="fa fa-user"></i></div>
                    <div class="floatleft pdtop">
                        Lastest: Future Start of Cricket ?<BR>
                        <strong>94</strong> Likes <strong>4</strong> Comments
                    </div>
                </div>
            </div>
        </div>
        <div class="col">Wednesday
            <div class="notify">
                <div class="header-wrapper">
                    <span class="title">Facebook</span>
                    <span class="notifications">Notifications</span>
                </div>
                <div class="content-wrapper">
                    <div class="floatleft"><i class="fa fa-user"></i></div>
                    <div class="floatleft pdtop">
                        Lastest: Future Start of Cricket ?<BR>
                        <strong>94</strong> Likes <strong>4</strong> Comments
                    </div>
                </div>
            </div>
        </div>
        <div class="col">Thursday
            <div class="notify">
                <div class="header-wrapper">
                    <span class="title">Facebook</span>
                    <span class="notifications">Notifications</span>
                </div>
                <div class="content-wrapper">
                    <div class="floatleft"><i class="fa fa-user"></i></div>
                    <div class="floatleft pdtop">
                        Lastest: Future Start of Cricket ?<BR>
                        <strong>94</strong> Likes <strong>4</strong> Comments
                    </div>
                </div>
            </div>
        </div>
        <div class="col">Friday
            <div class="notify">
                <div class="header-wrapper">
                    <span class="title">Facebook</span>
                    <span class="notifications">Notifications</span>
                </div>
                <div class="content-wrapper">
                    <div class="floatleft"><i class="fa fa-user"></i></div>
                    <div class="floatleft pdtop">
                        Lastest: Future Start of Cricket ?<BR>
                        <strong>94</strong> Likes <strong>4</strong> Comments
                    </div>
                </div>
            </div>
        </div>
        <div class="col">Saturday
            <div class="notify">
                <div class="header-wrapper">
                    <span class="title">Facebook</span>
                    <span class="notifications">Notifications</span>
                </div>
                <div class="content-wrapper">
                    <div class="floatleft"><i class="fa fa-user"></i></div>
                    <div class="floatleft pdtop">
                        Lastest: Future Start of Cricket ?<BR>
                        <strong>94</strong> Likes <strong>4</strong> Comments
                    </div>
                </div>
            </div>
        </div>
        <div class="col">Sunday
            <div class="notify">
                <div class="header-wrapper">
                    <span class="title">Facebook</span>
                    <span class="notifications">Notifications</span>
                </div>
                <div class="content-wrapper">
                    <div class="floatleft"><i class="fa fa-user"></i></div>
                    <div class="floatleft pdtop">
                        Lastest: Future Start of Cricket ?<BR>
                        <strong>94</strong> Likes <strong>4</strong> Comments
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>August 2017</h3>

    <div class="row">
        <div class="col">Monday</div>
        <div class="col">Tuesday</div>
        <div class="col">Wednesday</div>
        <div class="col">Thursday</div>
        <div class="col">Friday</div>
        <div class="col">Saturday</div>
        <div class="col">Sunday</div>
    </div>

</div>